# Arquivos binários gerados pelo GCC e Clang
*.out
*.exe
*.o

# Diretórios de cache do xmake
.xmake/linux/x86_64/cache
.xmake/ui.log
.xmake/linux/x86_64/tmp
.xmake/linux/x86_64/build


# Diretório de saida do xmake
build

# arquivo do vscode
.vscode/settings.json

# arquivo intelij idea
.idea
# remover arquivos .class do java
*.class
 
